<a href="https://colab.research.google.com/github/IrisMeng9/data_science/blob/main/w1_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.⁠Display Fibonacci Series up to 10 terms

In [ ]:
fib_num = [1]
fib_num.append(1)
for i in range(2,10):
  new = fib_num[i-1] + fib_num[i-2]
  fib_num.append(new)
print(fib_num)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

2.⁠ ⁠Display numbers at the odd indices of a list

In [ ]:
for i in range(len(fib_num)):
  if i % 2 != 0:
    print(f'The {i}th number is {fib_num[i]}')

The 1th number is 1
The 3th number is 3
The 5th number is 8
The 7th number is 21
The 9th number is 55

3.⁠ ⁠⁠string = """

I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!

"""  
Your task is to count the number of different words in this text

In [ ]:
string = """
  I have provided this text to provide tips on creating interesting paragraphs.
  First, start with a clear topic sentence that introduces the main idea.
  Then, support the topic sentence with specific details, examples, and evidence.
  Vary the sentence length and structure to keep the reader engaged.
  Finally, end with a strong concluding sentence that summarizes the main points.
  Remember, practice makes perfect!
  """

In [ ]:
print(f'There are {len(string.split())} words in this text.')
print(f'There are {len(set(string.split()))} different words in this text')

There are 62 words in this text.
There are 47 different words in this text

4.⁠ ⁠Write a function count_vowels(word) that takes a word as an argument and returns the number of vowels in the word

In [ ]:
def count_vowels(word):
  vowels = ['a','e','i','o','u']
  count = 0
  for i in word:
    if i in vowels:
      count += 1
  return count

count_vowels('banana')

3

5.⁠ ⁠Iterate through the following list of animals and print each one in all caps.

animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

In [ ]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for i in animals:
  print(i.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

6.⁠ ⁠Write a program that iterates from 1 to 20, printing each number and whether it's odd or even.

In [ ]:
for i in range(1,21):
  if i % 2 == 0:
    print(f'{i} is even')
  else:
    print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even


7.⁠ ⁠Write a function sum_of_integers(a, b) that takes two integers as input from the user and returns their sum.

In [ ]:
def sum_of_integers():
  a,b = map(int,input('Please enter 2 numbers seperated by space: ').split())
  return a+b

sum_of_integers()

Please enter 2 numbers seperated by space: 5 6

11



---

In [ ]:
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "genre": "Fiction",
        "rating": 4.2
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "genre": "Classic",
        "rating": 4.5
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "genre": "Dystopian",
        "rating": 4.8
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "genre": "Romance",
        "rating": 4.7
    },
    {
        "title": "Harry Potter and the Sorcerer's Stone",
        "author": "J.K. Rowling",
        "genre": "Fantasy",
        "rating": 4.9
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "genre": "Coming-of-age",
        "rating": 4.1
    }
]

Checking Book Ratings

Write a function check_rating(book) that takes a book dictionary and returns True if the rating is greater than 4.5, and False otherwise. Additionally, modify the function to return 'low' if the rating is less than or equal to 4.0, 'medium' if it's greater than 4.0 but less than or equal to 4.5, and 'high' if it's greater than 4.5.

In [ ]:
def check_rating(book):
  if book['rating'] > 4.5:
    return True
  else:
    return False

In [ ]:
for i in books:
  print(check_rating(i))

False
False
True
True
True
False

In [ ]:
def check_rating(book):
  if book['rating'] > 4.5:
      return 'high'
  elif book['rating'] <= 4.0:
    return 'low'
  else:
    return 'medium'

for i in books:
  print(check_rating(i))

medium
medium
high
high
high
medium

Average Rating by Genre

Write a function average_rating_by_genre(books, genre) that accepts the list of books and a genre, and returns the average rating for that genre. If the genre does not exist in the list, return an appropriate message.

In [ ]:
def average_rating_by_genre(books, genre):
  genre_score = 0
  count = 0
  for i in books:
    if i['genre'] == genre:
      genre_score += (i['rating'])
      count += 1

  if count == 0:
      print('This genre does not exist in the list')
  return (genre_score/count)

print(average_rating_by_genre(books,'Fiction'))

4.2

Books by Author

Write a function books_by_author(books, author) that accepts the book list and an author's name, and returns a list of all the books written by that author. If the author does not exist, raise a custom error.

In [ ]:
def books_by_author(books, author):
  bk_list = []
  for i in books:
    if i['author'] == author:
      bk_list.append(i)

  if not bk_list:
    print('This author does not exist!')

  return bk_list

In [ ]:
print(books_by_author(books, 'J.D. Salinger'))

[{'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'genre': 'Coming-of-age', 'rating': 4.1}]

In [ ]:
print(books_by_author(books, 'J'))

This author does not exist!
[]